<div class="product-form-container">
  <div class="product-form-title">
    @if(isEdit){
      Update Product
    }
    @else{
      Add New Product
    }
  </div>
  <div class="flex items-center justify-end mb-6">
    <button class="curve-md" mat-raised-button routerLink="/admin/product"><span class="text-blue-700">Back To All Products</span></button>
  </div>
  <form [formGroup]="productForm">
    <div class="flex flex-wrap gap-4">

  <mat-form-field class="w-full md:w-1/2">
  <mat-label>Category</mat-label>
  <mat-select formControlName ="categoryId">
    @for(item of allCategories; track item._id){
    <mat-option value="{{item._id}}">{{item.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field class="w-full md:w-1/2">
  <mat-label>Brand</mat-label>
  <mat-select formControlName ="brandId">
    @for(item of allBrands; track item._id){
    <mat-option value="{{item._id}}">{{item.brandName}}</mat-option>
    }
  </mat-select>
</mat-form-field>

  <mat-form-field class="w-full">
            <mat-label>Name</mat-label>
            <input matInput formControlName="productName" type="text"/>
  </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Short Description</mat-label>
          <input  matInput formControlName="shotDescription" type="text">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Product Description</mat-label>
          <textarea matInput formControlName="description" type="text"></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" min="0" (wheel)="$event.target.blur()">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Discount</mat-label>
          <input matInput formControlName="discount" type="number" min="0" (wheel)="$event.target.blur()">
        </mat-form-field>

        <div class="flex flex-col md:flex-row gap-4 w-full">
          <mat-checkbox formControlName="isFeatured">Is Featured</mat-checkbox>
          <mat-checkbox formControlName="isNewArrival">Is New Arrival</mat-checkbox>
          <mat-checkbox formControlName="isBestSeller">Is Best Seller</mat-checkbox>
        </div>

        <mat-form-field class="w-full">
          <mat-label>Stock</mat-label>
          <input matInput formControlName="stock" type="number" min="0">
        </mat-form-field>

        <div class="flex flex-col w-full" formArrayName="images">
          <div class="flex justify-between items-center">
            <h4 class="font-bold p-4">Images</h4>
            <div class="flex gap-2">
              <!-- <input matInput placeholder="Enter image URL" #newImageInput type="text" class="border p-2 rounded" /> -->
              <!-- <button mat-raised-button class="curve-md" color="primary" type="button" (click)="addImage(newImageInput.value); newImageInput.value=''">Add Image</button> -->
              <button mat-raised-button class="curve-md" color="primary" type="button" (click)="addImage();">Add Image</button>
              <button mat-raised-button class="curve-md" color="warn" type="button" (click)="removeImage()">Remove Image</button>
            </div>
          </div>
          @for(item of images.controls; track $index; let i = $index) {
            <mat-form-field class="w-full">
              <mat-label>Images {{i+1}}</mat-label>
              <input matInput [formControlName]="i" type="text">
            </mat-form-field>
          }
        </div>

        <div class="product-form-actions">
          @if(isEdit){
            <button class="curve-md" mat-raised-button color="accent" (click)="updateProduct();"><span class="text-black text-base">Update Product</span></button>
          }
          @else{
            <button class="curve-md" mat-raised-button color="accent" (click)="addNewProduct();"><span class="text-black text-base">Add Product</span></button>
          }
        </div>
      </div>
    </form>

  </div>
