<div class="flex item-center justify-center">
  <div class="flex flex-col items-center px-40 mt-10">
    <div class="flex justify-between w-full gap-4 mb-8 ">
    @if(isEdit){
    <h1 class="bg-cyan-300 font-bold w-90 p-4 text-center rounded-full text-3xl">Update Product</h1>
  }
    @else{
      <h1 class="bg-cyan-300 font-bold w-90 p-4 text-center rounded-full text-3xl">Add New Product</h1>
    }
          <div class="flex items-center justify-end">
            <button class="curve-md" matButton="elevated" routerLink="/admin/product"><span class="text-blue-700" >Back To All Products</span></button>
          </div>
    </div>

    <form class="shadow p-4" [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="flex flex-wrap gap-4">

  <mat-form-field class="w-full">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text"/>
          </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Short Description</mat-label>
          <input  matInput formControlName="shotDescription" type="text">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Product Description</mat-label>
          <textarea matInput formControlName="description" type="text"></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" min="0">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Discount</mat-label>
          <input matInput formControlName="discount" type="number" min="0">
        </mat-form-field>

        <div class="flex flex-col w-full" formArrayName="images">
          <div class="flex justify-between items-center">
            <h4 class="font-bold p-4">Images</h4>
            <div class="flex gap-2">
              <input matInput placeholder="Enter image URL" #newImageInput type="text" class="border p-2 rounded" />
              <button matButton="elevated" class="curve-md" color="primary" type="button" (click)="addImage(newImageInput.value); newImageInput.value=''">Add Image</button>
              <button matButton="elevated" class="curve-md" color="warn" type="button" (click)="removeImage()">Remove Image</button>
            </div>
          </div>
          @for(item of images.controls; track $index){
            <mat-form-field class="w-full">
              <mat-label>Images {{$index+1}}</mat-label>
              <input matInput [formControlName]="$index" type="text">
            </mat-form-field>
          }
        </div>

        <div class="flex justify-center items-center gap-2 w-full">
          <button class="curve-md" matButton="elevated" color="accent" (click)="addProduct();"><span class="text-black text-base " >Add Product</span></button>
        </div>
      </div>
    </form>

  </div>
</div>\
