.danger{
  color: red;
}

.blue{
  color: rgb(26, 185, 203);
}

.curve-md{
  border-radius: 0.8rem !important;
}

.aquamarine{
  color: aquamarine;
}

// .productAction{

// }


// .productAction ::ng-deep .mat-sort-header-content {
// position: relative;
// }

