<header class="shadow">
	<!-- Top bar: Logo, Search, Profile -->
		<div class="flex items-center justify-between header-topbar px-8 py-3">
		<!-- Logo -->
		<a routerLink="/home" class="flex items-center text-white text-2xl font-bold"   >
			<img src="{{images.mainLogo}}" alt="Logo" class="h-[3rem] w-[4rem] mr-2" />
			<!-- E-Shop  -->
		</a>
		<!-- Search -->
			<div class="mx-8 search-bar-wrapper relative">
				<input #searchBar type="text" placeholder="Search for products..." [(ngModel)]="commonVariablesService.searchTerm" class="search-bar w-full px-4 py-2 rounded focus:outline-none" (keyup.enter)="onSearch(searchBar.value)" />
			<span class="material-icons mr-1 absolute left-[20rem] top-[0.5rem] icon" (click)="onSearch(searchBar.value)">search</span>
			</div>
		<!-- Profile -->
    <div class="flex flex-wrap gap-[1rem]">
       <a routerLink="/customer/wishlist" class="text-white text-[1rem] font-semibold flex flex-wrap items-center">
        Wishlist
      </a>

      @if(isAdmin){
      <a class="text-white text-[1rem] font-semibold items-center cursor-pointer" routerLink="/admin">
        Dashboard
      </a>
    }

      <a routerLink="/profile" class="text-white text-[1rem] font-semibold flex flex-wrap items-center">
        <span class="material-icons mr-1 icon">account_circle</span>
        {{userName}}
      </a>

      <a class="text-white text-sm font-semibold flex-wrap items-center cursor-pointer" (click)="logout();">
        <!-- <span class="material-icons mr-1 icon">logout</span> -->
        Logout
      </a>
    </div>
	</div>
	<!-- Category menu -->
			<nav class="header-nav px-8 py-2">
			<ul class="flex space-x-6">
						@for (category of allCategories; track category._id) {
							<li (click)="onCategorySearch(category._id);">
								<a [routerLink]="'/products?categoryId=' + category._id" class="text-white hover:underline">{{category.name}}</a>
							</li>
						}
			</ul>
		</nav>
</header>
