<div class="product-card">
<div class="cursor-pointer" [routerLink]="'/product/' + product._id" [state] = "{product : product}">
  <img [src]="product.images && product.images[0] ? product.images[0] : 'https://via.placeholder.com/260x180?text=No+Image'" alt="{{ product.productName }}" class="product-card-img" />
  <div class="product-card-body">
    <!-- <div class="!h-27 !overflow-auto !scrollbar-hide"> -->
      <h2 class="product-card-title">{{ product.productName }}</h2>
      <p class="product-card-desc">{{ product.shotDescription.slice(0,30) }}</p>
    <!-- </div> -->
    <div class="flex flex-wrap gap-[3rem]">
    <div class="product-card-price">
      <span class="price">₹{{ product.price }}</span>
      <span *ngIf="product.discount" class="discount">-{{ product.discount }}%</span>
    </div>

    <!-- <div class="flex gap-[1rem]">
      <button mat-fab-button class="cursor-pointer">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-fab-button class="cursor-pointer">
        <mat-icon class = "!text-red-500">favorite</mat-icon>
      </button>
    </div> -->
      <!-- <button matBut ton="elevated" color="primary" class="w-full mt-2 add-to-cart-btn" (click)="openImage(product.images[0])">open image</button> -->
    </div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
  <button mat-raised-button color="primary" class="w-full justify-center mt-2 !rounded-t-full add-to-cart-btn">Add to Cart</button>
  @if(isInWishlist(product._id)){
    <button mat-raised-button (click)="removeFromWishList(product._id);"
        color="accent"
        class="w-full cursor-pointer flex items-center justify-center gap-2 added-to-wish-btn relative group">

  <!-- Default state (visible when not hovered) -->
  <span class="flex items-center gap-2 group-hover:hidden">
    <mat-icon class="!h-[1.2rem] !w-[1.2rem] !text-green-400">check_box</mat-icon>
    Added to Wishlist
  </span>

  <!-- Hover state (visible only on hover) -->
  <span class="hidden group-hover:flex items-center gap-2">
    <mat-icon class="!h-[1rem] !w-[1rem] !text-black">delete</mat-icon>
    Remove from Wishlist
  </span>

</button>

  }
  @else {
    <button mat-raised-button (click)="addToWishlist(product._id);"
    color="accent" class="w-full  add-to-wish-btn ">
    Add to WishList
  </button>
  }
</div>
