  <div class="flex item-center justify-center">
    <div class="flex flex-col px-40 pt-10">
  <div class="flex">
  @if(isEdit){
    <h1 class="bg-black w-90 p-4 text-center rounded-full"><span class="font-bold text-3xl danger ">Update Category </span> : <span class="ml-1 text-2xl blue font-bold">({{this.idParams?.name}})</span></h1>
  }
  @else{
    <h1 class="font-bold text-2xl bg-black w-75 p-2 text-center rounded-full danger">Add New Category</h1>
  }
  </div>
  <div class="mt-5">
    <form class="w-96 p-4">
      <div class="flex flex-wrap">
        <div class="w-full gap-4">
          <mat-form-field class="w-70">
            <mat-label>Name</mat-label>
            <input class="w-full" matInput [(ngModel)]="name" name="name" type="text"/>
          </mat-form-field>
        </div>
        <div class="w-full flex justiy-center">
          @if(isEdit){
            <button mat-raised-button color="primary" (click)="update(id,name);" [disabled]="!name">Update</button>
          }
          @else{
            <button mat-raised-button color="primary" (click)="add();" [disabled]="!name">Add</button>
          }
  <button class="left-4 curve-md" mat-raised-button color="primary" routerLink="/admin/categories"><span class="text-red-400 " >Back To All Categories</span></button>

        </div>
      </div>
    </form>
  </div>


</div>

</div>
